<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Pendientes</title>
</head>
<body>
    <div class="container mt-5" id="app">
        
        <h3>{{titulo}}</h3>
        <input type="text" class="form-control my-3" v-model="newTarea" v-on:keyup.enter="agregarTarea">
        <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

        <div class="mt-1" v-for="(tarea,index) of tareas">
            <div role="alert" :class="['alert', tarea.estado ? 'alert-success' : 'alert-danger']">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        {{tarea.nombre}} - {{tarea.estado}}
                    </div>
                    <div>
                        <input type="checkbox"@click="editarTarea(index)"><b>Done</b>
                        <!--<button class="btn btn-success btn-sm" @click="editarTarea(index)">Editar</button>-->
                        <button class="btn btn-danger btn-sm"@click="eliminarTarea(index)">Borrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>